/* line 1, ../sass/all-fonts.scss */
.fnt-medium {
  font: 600 18px/18px "Open Sans";
}
/* line 3, ../sass/all-fonts.scss */
.fnt-medium-lite {
  font: 400 14px/18px "Open Sans";
}

/* line 8, ../sass/all-fonts.scss */
.fnt-big {
  font: 600 36px/60px "Open Sans";
}
/* line 10, ../sass/all-fonts.scss */
.fnt-big-green {
  font: 600 36px/24px "Open Sans";
  color: #87b672;
}

/* line 16, ../sass/all-fonts.scss */
.fnt-lite {
  font: 400 22px/18px "Open Sans";
}

/* line 20, ../sass/all-fonts.scss */
.fnt-grey {
  font: 600 22px/24px "Open Sans";
  color: #666262;
}
/* line 23, ../sass/all-fonts.scss */
.fnt-grey-lite {
  font: 400 16px/24px "Open Sans";
  color: #9b9999;
}
/* line 27, ../sass/all-fonts.scss */
.fnt-grey-xlite {
  font: 400 12px/24px "Open Sans";
  color: #9b9999;
}
/* line 31, ../sass/all-fonts.scss */
.fnt-grey-small {
  font: 600 18px/22px "Open Sans";
  color: #666262;
}

/* line 38, ../sass/all-fonts.scss */
.fnt-med {
  font: 600 11px/14px "Open Sans";
  color: #9b9999;
}
