@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/body.scss */
body {
  background-color: #fefefe;
  font-family: "Open Sans", sans-serif;
  position: relative;
  color: #666262;
}
/* line 7, ../sass/body.scss */
body .grey-section {
  background-color: #efefef;
}

/* line 12, ../sass/body.scss */
.min-bottom {
  bottom: -90px;
}

/* line 16, ../sass/body.scss */
.margin-section-purchase {
  margin-top: 130px;
}

/* line 20, ../sass/body.scss */
.page-name {
  background: url("../images/img-brg.png") 100% 100% no-repeat;
  background-size: cover;
}

/* line 27, ../sass/body.scss */
.custom-pagination .active {
  color: white;
  background-color: #87b672;
}
/* line 31, ../sass/body.scss */
.custom-pagination a {
  border: none;
  color: #666262;
}
/* line 36, ../sass/body.scss */
.custom-pagination a:hover {
  color: #87b672;
  background-color: #d4d4d4;
}

/* line 1, ../sass/header.scss */
.line {
  border-bottom: 1px solid white;
  /* ╨Я╨░╤А╨░╨╝╨╡╤В╤А╤Л ╨│╤А╨░╨╜╨╕╤Ж╤Л */
  padding: 3vh;
  /* ╨Я╨╛╨╗╤П ╨▓╨╛╨║╤А╤Г╨│ ╤В╨╡╨║╤Б╤В╨░ */
}
/* line 4, ../sass/header.scss */
.line-grey {
  border-bottom: 1px solid #cccccc;
}

/* line 9, ../sass/header.scss */
.top-header {
  position: absolute;
  z-index: 5;
  width: 100%;
  top: 0;
}

/* line 16, ../sass/header.scss */
.active {
  color: #87b672;
}

/* line 1, ../sass/all-fonts.scss */
.fnt-medium {
  font: 600 18px/18px "Open Sans";
}
/* line 3, ../sass/all-fonts.scss */
.fnt-medium-lite {
  font: 400 14px/18px "Open Sans";
}

/* line 8, ../sass/all-fonts.scss */
.fnt-big {
  font: 600 36px/60px "Open Sans";
}
/* line 10, ../sass/all-fonts.scss */
.fnt-big-green {
  font: 600 36px/24px "Open Sans";
  color: #87b672;
}

/* line 16, ../sass/all-fonts.scss */
.fnt-lite {
  font: 400 22px/18px "Open Sans";
}

/* line 20, ../sass/all-fonts.scss */
.fnt-grey {
  font: 600 22px/24px "Open Sans";
  color: #666262;
}
/* line 23, ../sass/all-fonts.scss */
.fnt-grey-lite {
  font: 400 16px/24px "Open Sans";
  color: #9b9999;
}
/* line 27, ../sass/all-fonts.scss */
.fnt-grey-xlite {
  font: 400 12px/24px "Open Sans";
  color: #9b9999;
}
/* line 31, ../sass/all-fonts.scss */
.fnt-grey-small {
  font: 600 18px/22px "Open Sans";
  color: #666262;
}

/* line 38, ../sass/all-fonts.scss */
.fnt-med {
  font: 600 11px/14px "Open Sans";
  color: #9b9999;
}

/* line 2, ../sass/main-menu.scss */
header .bg-faded {
  background-color: inherit;
}
/* line 5, ../sass/main-menu.scss */
header .form-control {
  background-color: inherit;
  border: none;
}
/* line 10, ../sass/main-menu.scss */
header .input-group-btn {
  background-color: inherit;
}
/* line 12, ../sass/main-menu.scss */
header .input-group-btn .btn-primary {
  background-color: inherit;
  border: none;
}
/* line 15, ../sass/main-menu.scss */
header .input-group-btn .btn-primary:hover {
  background-color: gray;
  color: deepskyblue;
  outline: none;
}
/* line 23, ../sass/main-menu.scss */
header .navbar-light .navbar-toggler {
  border-color: white;
}

/* line 1, ../sass/custom-carousel.scss */
.custom-carousel {
  position: relative;
}
/* line 5, ../sass/custom-carousel.scss */
.custom-carousel .carousel-inner .carousel-caption {
  top: 40%;
}

/* line 1, ../sass/custom-buttons.scss */
.btn-success {
  background-color: #87b672;
  height: 40px;
  border-radius: 0;
}

/* line 7, ../sass/custom-buttons.scss */
.btn-secondary {
  background-color: inherit;
  width: 121px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 0;
}

/* line 15, ../sass/custom-buttons.scss */
.btn-info {
  border-radius: 0;
  background-color: #828282;
  border: none;
}

/* line 21, ../sass/custom-buttons.scss */
.btn-info:hover {
  background-color: #87b672;
}

/* line 1, ../sass/footer.scss */
footer {
  background-color: #333333;
}
/* line 4, ../sass/footer.scss */
footer a {
  text-decoration: none;
}
/* line 8, ../sass/footer.scss */
footer a:hover {
  color: #87b672;
  text-decoration: none;
}
/* line 14, ../sass/footer.scss */
footer .nav-link {
  margin: 0;
  padding: 0vw 10px 0vw 10px;
}
/* line 19, ../sass/footer.scss */
footer .form-group {
  margin-bottom: 0;
}
/* line 21, ../sass/footer.scss */
footer .form-group input {
  max-width: 120px;
  background-color: #4e4c4c;
  border-radius: 0;
}
/* line 29, ../sass/footer.scss */
footer .form-control:focus {
  border-color: #87b672;
}

/* ╨╖╨░╤В╨╡╨╝╨╜╨╡╨╜╨╕╨╡ ╤Б╨╛╤Ж╨╕╨░╨╗╨╛╨║ -----------------------------*/
/* line 2, ../sass/hovers.scss */
.banners a i {
  opacity: 0.6;
  -moz-opacity: 0.3;
  filter: alpha(opacity=40);
}

/* line 6, ../sass/hovers.scss */
.banners a:hover i {
  opacity: 1.0;
  -moz-opacity: 1.0;
  filter: alpha(opacity=100);
}

/* /╨╖╨░╤В╨╡╨╝╨╜╨╡╨╜╨╕╨╡ ╤Б╨╛╤Ж╨╕╨░╨╗╨╛╨║ ---------------------------*/
/* ╨╖╨░╤В╨╡╨╝╨╜╨╡╨╜╨╕╨╡ ╨╝╨╡╨╜╤О -----------------------------*/
/* line 14, ../sass/hovers.scss */
.hover-white a {
  opacity: 1;
  -moz-opacity: 0.3;
  filter: alpha(opacity=40);
}

/* line 18, ../sass/hovers.scss */
.hover-white a:hover {
  opacity: 0.5;
  -moz-opacity: 1.0;
  filter: alpha(opacity=100);
}

/* /╨╖╨░╤В╨╡╨╝╨╜╨╡╨╜╨╕╨╡ ╨╝╨╡╨╜╤О ---------------------------*/
/* line 25, ../sass/hovers.scss */
.brighten img {
  -webkit-filter: brightness(65%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 34, ../sass/hovers.scss */
.brighten img:hover {
  -webkit-filter: brightness(100%);
}

/* line 4, ../sass/blog-style.scss */
.blog-section .date-form, .blog-section .author-form, .blog-section .category-form, .blog-section .comment-form {
  background-color: #efefef;
  min-height: 40px;
}
/* line 8, ../sass/blog-style.scss */
.blog-section audio {
  width: 100%;
}
/* line 12, ../sass/blog-style.scss */
.blog-section iframe {
  width: 100%;
  height: 400px;
}

/* line 3, ../sass/right-sidebar.scss */
.right-sidebar .popular-post li {
  padding: 10px 0;
}
/* line 7, ../sass/right-sidebar.scss */
.right-sidebar li {
  list-style-type: none;
}
/* line 10, ../sass/right-sidebar.scss */
.right-sidebar a {
  color: #9b9999;
  text-decoration: none;
}
/* line 14, ../sass/right-sidebar.scss */
.right-sidebar a:hover {
  color: #87b672;
}

/* line 2, ../sass/custom-comment.scss */
.custom-comment a {
  text-decoration: none;
  color: #87b672;
}
/* line 7, ../sass/custom-comment.scss */
.custom-comment a:hover {
  color: darkgreen;
  text-decoration: none;
}
/* line 12, ../sass/custom-comment.scss */
.custom-comment h5 {
  font: 700 16px/20px "Open Sans";
  color: #666262;
}
/* line 17, ../sass/custom-comment.scss */
.custom-comment time {
  font: 500 14px/20px "Open Sans";
  color: #9b9999;
}

/* line 3, ../sass/reaply-form.scss */
.reaply-form .form-control {
  background-color: #efefef;
  border-radius: 0;
  border-color: transparent;
  min-height: 100%;
}
/* line 10, ../sass/reaply-form.scss */
.reaply-form .form-control:focus {
  border-color: #87b672;
}
/* line 14, ../sass/reaply-form.scss */
.reaply-form h5 {
  font: 600 14px/22px "Open Sans";
  color: #636566;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
/* line 22, ../sass/reaply-form.scss */
.reaply-form p {
  font: 400 14px/22px "Open Sans";
  color: #9b9999;
  margin: 0;
  padding: 0;
}
/* line 29, ../sass/reaply-form.scss */
.reaply-form label {
  margin: 0;
  padding: 0;
}
