
.blog-section {

.date-form, .author-form, .category-form, .comment-form {
  background-color: #efefef;
  min-height: 40px;
}
audio {
  width: 100%;
}

  iframe {
    width: 100%;
    height: 400px;
  }

}




