.custom-comment {
  a {
    text-decoration: none;
    color: #87b672;
  }

  a:hover {
    color: darkgreen;
    text-decoration: none;
  }

  h5 {
    font: 700 16px/20px "Open Sans";
    color: #666262;
  }

  time {
    font: 500 14px/20px "Open Sans";
    color: #9b9999;
  }

}