.btn-success {
  background-color: #87b672;
  height: 40px;
  border-radius: 0;
}

.btn-secondary {
  background-color: inherit;
  width: 121px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 0;
}

.btn-info {
  border-radius: 0;
  background-color: #828282;
  border: none;
}

.btn-info:hover {
  background-color: #87b672;
}